@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
}

@media (min-width: 650px) {
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 15px rgba(117, 109, 86, 0.205);
    background-color: #ffffff;
    padding: 2vw 8vw 2vw 8vw;
  }
  .moba {
    display: none;
  }
  .navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 15px;
  }

  .logo a {
    color: #16a34a;
    font-size: 1.55rem;
    font-family: Inter, sans-serif;
    margin-left: 15px;
  }

  .logo:hover {
    transform: scale(1.1);
  }

  .navegacao li a {
    color: #16a34a;
    font-size: 1.2rem;
    font-family: Inter;
  }
  .navegacao li p {
    color: #16a34a;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
  }

  .navegacao a:hover {
    color: #1e8544;
    transition: 0.2;
  }

  ul.navegacao li:hover ul {
    display: block;
  }

  .navegacao li > a i {
    transition: transform 0.3s ease;
  }

  .navegacao li:hover > a i {
    transform: rotate(180deg);
  }

  .navegacao li {
    position: relative;
  }

  .navegacao li ul {
    opacity: 0;
    transform: translateY(-10px);
    position: absolute;
    top: 110%;
    left: 0;
    min-width: 220px;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .navegacao li ul li a {
    display: block;
    padding: 12px 18px;
    font-size: 1rem;
    color: #16a34a;
    font-family: "Inter", sans-serif;
    transition: background 0.2s ease, color 0.2s ease;
  }

  .navegacao li ul li a:hover {
    background: #f9f9f9;
    color: #1e8544;
  }

  .navegacao li:hover ul {
    opacity: 1;
    transform: translateY(0);
  }

  .hamburguer {
    display: none;
  }
}

@media (max-width: 650px) {
  .pc {
    display: none;
  }

  .banner img {
    display: none;
  }

  header nav {
    padding: 5vw 4vw 5vw 1vw;
  }

  header .logo a {
    color: #16a34a;
    font-size: 1.55rem;
    font-family: Inter, sans-serif;
    margin-left: 15px;
  }

  header .logo:hover {
    transform: scale(1.1);
  }

  header .paginas {
    display: none;
    width: 100vw;
    height: fit-content;
    margin-top: 30px;
    padding-left: 15px;
  }

  header .paginas a,
  header .paginas button {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    border: none;
    padding: 0;
    margin: 0;
    color: #16a34a;
  }

  header .paginas #fodinha {
    display: none;
  }

  header .paginas .navegacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  header .hamburguer {
    display: block;
    transform: rotate(90deg);
    font-size: 20px;
    padding: 5px;
    background: none;
    border: none;
    font-weight: bold;
  }

  header .paginas.show {
    display: block;
  }
}

@media (max-width:650px) {
  i {
    transition: 100ms;
  }
  header .paginas .navegacao {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
  header .submenu{
    display: none;
    margin-top: 5px;
    padding-left: 15px;
    transition: 200ms;
    & li {
      margin-bottom: 5px;
    }
  }

  header .hamburguer{
    transition: ease 300ms;
  }
  .moba {
    display: block;
    background-color: #fff;
  }
  .pc {
    display: none;
  }
  .banner {
    & .text-banner {
      padding-left: 10vw;
    }
  }
}

.banner {
  background-color: #05aa1b10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  gap: 70px;
}
.text-banner {
  max-width: 450px;
}

.banner h1 {
  font-size: 3.5rem;
  color: #1e8544;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: bolder;
}

.banner h1 span {
  color: #16a34a;
}

.banner p {
  font-size: 1.2rem;
  color: #16a34a;
  line-height: 1.6;
  margin-bottom: 20px;
}

.img-banner img {
  width: 100%;
  max-width: 550px;
  height: auto;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.img-banner img:hover {
  transform: scale(1.05);
}

.btn-banner {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.btn-banner a {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-banner a:first-child {
  background-color: #16a34a;
  color: #fff;
  border: 2px solid #16a34a;
}

.btn-banner a:first-child:hover {
  background-color: #1e8544;
  border-color: #1e8544;
}

.btn-banner .btn-banner2 {
  color: #16a34a;
  border: 2px solid #16a34a;
}

.btn-banner .btn-banner2:hover {
  background-color: #16a34a;
  color: #fff;
}

.why-choose-us {
  padding: 60px 20px;
  text-align: center;
}

.why-choose-us h2 {
  font-size: 3rem;
  color: #1e8544;
  margin-bottom: 10px;
  font-weight: 600;
}

.why-choose-us h3 {
  font-weight: 600 ;
}

.text-why-choose-us p {
  font-size: 1.25rem;
  color: #16a34a;
  margin-top: 20px;
  margin-bottom: 40px;
}

.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.container-cards .card {
  background-color: #fff;
  border-radius: 15px;
  padding: 40px 30px 50px 30px;
  height: 300px;
  width: 280px;
  border: 1px solid #e0e0e0;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-cards .card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.container-cards .card:hover i {
  background-color: #05aa1b36;
}

.container-cards .card i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #05aa1b10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.container-cards .card i:hover {
  transform: rotate(10deg) scale(1.1);
}

.container-cards .card h3 {
  font-size: 1.6rem;
  color: #1e8544;
  margin-bottom: 15px;
}

.container-cards .card p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #16a34a;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 50px 20px;
  background-color: #05aa1b10;
}

.testimonials-header {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.testimonials-header h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #1e8544;
  margin-bottom: 20px;
}

.testimonials-header h3 {
  font-size: 18px;
  color: #16a34a;
}

.testimonial-card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 25px 20px;
  max-width: 350px;
  flex: 1 1 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.quote-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(5, 170, 27, 0.1);
  color: #23ce62;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  font-size: 2rem;
  transition: transform 0.3s ease;
}
.quote-icon:hover {
  transform: scale(1.1);
}

.testimonial-text {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.6;
  color: #1e8544;
  margin-bottom: 20px;
}

.stars {
  color: #f1c40f;
  margin-bottom: 20px;
  text-align: center;
}

.user-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
  background-color: #ffffff;
}

.user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info h4 {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  margin-bottom: 5px;
}

.user-info p {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.user-info .tag {
  font-size: 12px;
  font-weight: 500;
  background-color: #05aa1b10;
  color: #1e8544;
  padding: 3px 8px;
  border-radius: 12px;
}
.resultados {
  margin: 60px 20px;
  text-align: center;
}
.resultados h2 {
  font-size: 3rem;
  color: #1e8544;
  margin-bottom: 10px;
  font-weight: 600;
}
.resultados p {
  font-size: 1.25rem;
  color: #16a34a;
  margin-top: 20px;
  margin-bottom: 40px;
}
.stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.stats .stat {
  padding: 30px 20px;
}
.stat h3 {
  font-size: 3rem;
  color: #1e8544;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.stat h3:hover {
  transform: scale(1.1);
}
.call-to-action {
  background-color: #16a34a;
  padding: 110px 30px;
  color: #fff;
  text-align: center;
}
.call-to-action h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  font-weight: bold;
}
.call-to-action p {
  font-size: 1.55rem;
  margin-bottom: 30px;
  color: #e0f7e9;
}
.call-to-action a {
  position: relative;
  top: 30px;
  background-color: #fff;
  color: #16a34a;
  padding: 20px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.call-to-action a:hover {
  background-color: #1e8544;
  color: #fff;
}

.footer {
  background: #006b3f;
  color: #ffffff;
  padding: 40px 80px 30px 80px;
  font-family: Inter, sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  margin-bottom: 30px;
}

.footer h2,
.footer h3 {
  margin-bottom: 30px;
}

.footer-col ul li {
  margin-bottom: 18px;
}

.footer-col ul li a {
  color: #ffffff;
}

.love {
  margin-top: 10px;
  color: #ffffff;
}

.footer-bottom {
  border-top: 1px solid #fff3;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
}

.footer-bottom a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

.footer-warning {
  margin-top: 20px;
  background: #015e36;
  padding: 12px;
  border-radius: 8px;
  font-size: 13px;
  line-height: 1.5;
}
h2 {
  font-size: 1.55rem;
}
.love {
  margin-top: 30px;
}
