@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
.footer {
  background: #006B3F;
  color: #ffffff;
  padding: 40px 20px 20px;
  font-family: Inter, sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  margin-bottom: 30px;
}

.footer h2,
.footer h3 {
  margin-bottom: 30px;
}


.footer-col ul li {
  margin-bottom: 18px;
}

.footer-col ul li a {
  color: #ffffff;
}

.love {
  margin-top: 10px;
  color: #ffffff;
}

.footer-bottom {
  border-top: 1px solid #fff3;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
}

.footer-bottom a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

.footer-warning {
  margin-top: 20px;
  background: #015E36;
  padding: 12px;
  border-radius: 8px;
  font-size: 13px;
  line-height: 1.5;
}
h2{
    font-size: 1.55rem;
}
.love{
    margin-top: 30px;
}